# Extract keywords from product descriptions by using NLP TECHINQUE

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv(r"C:\Users\Omkar\Downloads\Myntra dataset\Myntra fashion\Myntra Fasion Clothing.csv")
data

C:\Users\Omkar\AppData\Local\Temp\ipykernel_4908\1859380839.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(r"C:\Users\Omkar\Downloads\Myntra dataset\Myntra fashion\Myntra Fasion Clothing.csv")

,URL,Product_id,BrandName,Category,Individual_category,category_by_Gender,Description,DiscountPrice (in Rs),OriginalPrice (in Rs),DiscountOffer,SizeOption,Ratings,Reviews
0,https://www.myntra.com/jeans/roadster/roadster...,2296012,Roadster,Bottom Wear,jeans,Men,roadster men navy blue slim fit mid rise clean...,824.0,1499.0,45% OFF,"28, 30, 32, 34, 36",3.9,999.0
1,https://www.myntra.com/track-pants/locomotive/...,13780156,LOCOMOTIVE,Bottom Wear,track-pants,Men,locomotive men black white solid slim fit tra...,517.0,1149.0,55% OFF,"S, M, L, XL",4.0,999.0
2,https://www.myntra.com/shirts/roadster/roadste...,11895958,Roadster,Topwear,shirts,Men,roadster men navy white black geometric print...,629.0,1399.0,55% OFF,"38, 40, 42, 44, 46, 48",4.3,999.0
3,https://www.myntra.com/shapewear/zivame/zivame...,4335679,Zivame,Lingerie & Sleep Wear,shapewear,Women,zivame women black saree shapewear zi3023core0...,893.0,1295.0,31% OFF,"S, M, L, XL, XXL",4.2,999.0
4,https://www.myntra.com/tshirts/roadster/roadst...,11690882,Roadster,Western,tshirts,Women,roadster women white solid v neck pure cotton ...,NaN,599.0,35% OFF,"XS, S, M, L, XL",4.2,999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
526559,https://www.myntra.com/sweaters/hm/hm-women-be...,16929990,H&M,Western,sweaters,Women,hm women beige oversized cashmere jumper,NaN,9999.0,NaN,"XS, S, M, L",NaN,NaN
526560,https://www.myntra.com/jackets/hm/hm-women-bla...,16026012,H&M,Western,jackets,Women,hm women black water repellent parka jacket,NaN,9999.0,NaN,"XS, S, M, L, XL",NaN,NaN
526561,https://www.myntra.com/dresses/250-designs/250...,17654114,250 DESIGNS,Western,dresses,Women,250 designs blue lace sheath dress,NaN,9999.0,NaN,"S, M, L, XL, XXL",NaN,NaN
526562,https://www.myntra.com/dresses/masaba/masaba-w...,12508700,Masaba,Western,dresses,Women,masaba women yellow printed a line dress,NaN,9999.0,NaN,"XS, S, M, L, XL",NaN,NaN
526563,https://www.myntra.com/tshirts/jockey/jockey-w...,17856544,Jockey,Western,tshirts,Women,jockey women blue extended sleeves t shirt,NaN,799.0,NaN,"S, M, L",NaN,NaN

In [3]:
import random
import pandas as pd

df = pd.DataFrame(data.Description)

# Choose a random sample of 5 rows from the DataFrame
data1 = df.sample(n=20,replace=False)


# Print the random sample
#print(data1)
data2= pd.DataFrame(data1)
data2

                                              Description
330722  jinfo women turquoise blue  red set of 2 ethni...
372043  unnati silks maroon  yellow tie  dyed bandhani...
206171  allen solly sport men navy blue skinny fit lig...
257857                friskers men maroon printed t shirt
163395  adidas originals men navy blue lock up sustain...
388343  bombay selections red  gold coloured ethnic mo...
313098  kalini women pink ethnic motifs embroidered th...
167181  rare rabbit men orange regular fit solid casua...
415411  kanvin women pack of 2 printed pure cotton lou...
204978  us polo assn denim co men blue skinny fit mid ...
3127      campus sutra men blue striped high neck t shirt
417529  jisora women yellow  white striped pure cotton...
352021  florence pack of 2 green  white floral pure ge...
212820  la mode men black clean look slim fit stretcha...
34995          ketch men blue tapered fit chinos trousers
223273  duke men blue  yellow slim fit checked casual ...
373480  rajgranth yellow  red embroidered unstitched d...
362321           neerus olive green solid poly silk saree
56542   arrow men coral red slim fit solid pure cotton...
176263  basics men turquoise blue printed polo collar ...

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Create a TF-IDF vectorizer
tfidf_vectorizer = TfidfVectorizer(max_features=20)  # Adjust the number of features as needed

# Fit and transform your product descriptions
tfidf_matrix = tfidf_vectorizer.fit_transform(data2.Description)

# Get the feature names (keywords)
keywords = tfidf_vectorizer.get_feature_names_out()
keywords

array(['blue', 'cotton', 'ethnic', 'fit', 'green', 'jeans', 'men',
       'motifs', 'of', 'printed', 'pure', 'red', 'saree', 'shirt', 'silk',
       'skinny', 'slim', 'solid', 'women', 'yellow'], dtype=object)

In [5]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

# Load your Myntra fashion dataset into a Pandas DataFrame
# Assuming the product descriptions are in a column named 'description'

# Preprocess the text
product_descriptions = data2['Description'].apply(lambda x: x.lower())

# Create a TF-IDF vectorizer
tfidf_vectorizer = TfidfVectorizer(max_features=20)  # Adjust the number of features as needed

# Fit and transform your product descriptions
tfidf_matrix = tfidf_vectorizer.fit_transform(product_descriptions)


# Get the feature names (keywords)
keywords = tfidf_vectorizer.get_feature_names_out()

# Sum the TF-IDF scores for each term across all product descriptions
tfidf_scores = tfidf_matrix.sum(axis=0)
print("TfIdf_Scores:", tfidf_scores)

# Sort the terms based on their TF-IDF scores
sorted_keywords = [keywords[i] for i in tfidf_scores.argsort()[0, ::-1]]

# Select the top N keywords
top_keywords = sorted_keywords[:20]
    
# Display or save the keywords
print("Top_Keywords:", top_keywords)

TfIdf_Scores: [[3.76417507 1.40554428 1.45316902 2.98531798 1.09541956 1.64199045
  4.32585527 1.45316902 1.38467624 2.0918884  1.75103482 1.86275599
  2.02613738 2.98289026 1.03502793 1.16787651 1.50059256 1.51504923
  1.83705627 2.37035937]]
Top_Keywords: [array([['men', 'blue', 'fit', 'shirt', 'yellow', 'printed', 'saree',
        'red', 'women', 'pure', 'jeans', 'solid', 'slim', 'motifs',
        'ethnic', 'cotton', 'of', 'skinny', 'green', 'silk']],
      dtype=object)]

In [6]:
import pandas as pd
Top_Keywords = ['men', 'blue', 'navy', 'women', 'green', 'shorts', 'grey', 'fit', 'solid', 'cotton', 'design', 'maroon', 
                 'top', 'regular', 'white', 'pink', 'pure', 'shirt', 'dress', 'trousers']
TfIdf_Scores = [2.77665156, 1.71079288, 1.60519785, 1.14726929, 1.79495647, 1.96019725, 1.79676408, 1.5566384, 3.56230402, 2.38909791, 1.37520077, 1.34615921, 1.4286975, 1.31973881, 1.81514583, 1.75216005, 1.54376016, 0.98126734, 1.39580828, 2.33110289]


keyword_df = pd.DataFrame({'Description': data2['Description'],
                           'Keywords': Top_Keywords,'tfidf_Scores' : TfIdf_Scores
                          })

# Print the DataFrame
print(keyword_df)

                                              Description  Keywords  \
330722  jinfo women turquoise blue  red set of 2 ethni...       men
372043  unnati silks maroon  yellow tie  dyed bandhani...      blue
206171  allen solly sport men navy blue skinny fit lig...      navy
257857                friskers men maroon printed t shirt     women
163395  adidas originals men navy blue lock up sustain...     green
388343  bombay selections red  gold coloured ethnic mo...    shorts
313098  kalini women pink ethnic motifs embroidered th...      grey
167181  rare rabbit men orange regular fit solid casua...       fit
415411  kanvin women pack of 2 printed pure cotton lou...     solid
204978  us polo assn denim co men blue skinny fit mid ...    cotton
3127      campus sutra men blue striped high neck t shirt    design
417529  jisora women yellow  white striped pure cotton...    maroon
352021  florence pack of 2 green  white floral pure ge...       top
212820  la mode men black clean look slim fit stretcha...   regular
34995          ketch men blue tapered fit chinos trousers     white
223273  duke men blue  yellow slim fit checked casual ...      pink
373480  rajgranth yellow  red embroidered unstitched d...      pure
362321           neerus olive green solid poly silk saree     shirt
56542   arrow men coral red slim fit solid pure cotton...     dress
176263  basics men turquoise blue printed polo collar ...  trousers

        tfidf_Scores
330722      2.776652
372043      1.710793
206171      1.605198
257857      1.147269
163395      1.794956
388343      1.960197
313098      1.796764
167181      1.556638
415411      3.562304
204978      2.389098
3127        1.375201
417529      1.346159
352021      1.428697
212820      1.319739
34995       1.815146
223273      1.752160
373480      1.543760
362321      0.981267
56542       1.395808
176263      2.331103